<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393812356854-p32dtv09nrk4h91gu1figd39cujf2rgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393812356854-p32dtv09nrk4h91gu1figd39cujf2rgu</string>
	<key>API_KEY</key>
	<string>AIzaSyAwYPn4L2i7-zM0_4rzsKYbJdsRdah59sw</string>
	<key>GCM_SENDER_ID</key>
	<string>393812356854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManagementApp</string>
	<key>PROJECT_ID</key>
	<string>pfe-tm-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pfe-tm-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393812356854:ios:7abed012813664506946d7</string>
</dict>
</plist>